
	<div id="header-container">

		<div class="large-12 columns">
			<div id="title-container">
				<h1 id="subtitle"> New Auction</h1>
				<h3 id="segment-subtitle"><small>Get started with your auction.</small></h3>
				</div>
			</div>
		
	

	<div id="form">
		<fieldset>
			<legend> New Auction </legend>
			<div id="form-push">
				<%= render "form" %>
			</div>
		</fieldset>

	</div>

	</div>



