
<div id="container1">

	<div class="large-12 columns">
		<div id="title-container">
			<h1 id="subtitle"> Dolla Dolla Bills Y'all.</h1>
			<h3 id="segment-subtitle"><small>Get that paper.</small></h3>
			</div>
		</div>
	
</div>



<div id="form">
<fieldset>
	<legend> New Auction </legend>
	<div id="form-push">
		<%= render "form" %>
	</div>
</fieldset>
</div>


