<div class="user-new-container">
<div id="header-container">

	<div class="large-12 columns">
		<div id="title-container">
			<h1 id="subtitle"> Buy shit. Sell shit.</h1>
			<h3 id="segment-subtitle"><small>Sign up to start bidding on stuff near you.</small></h3>
			</div>
		</div>
	
</div>

<div id="form">
<fieldset>
	<legend> Sign Up </legend>
	<div id="form-push">
		<%= render "form" %>
	</div>
</fieldset>
</div>
</div>