

<div class="row">
	<header class="container1">
	
		<h1 class="subtitle"> Transact with the world around you</h1>
		<h3 class="segment-subtitle"><small>BlockTrader makes it easy to get the most for your stuff quickly and safely.</h3>
		<div class="start-button"><%= link_to 'Get Started Today', new_user_path, :class => "large button" %></div>
	
	</header>
</div>


