/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */
 *= require foundation_and_overrides;

 .redBorder {
	background-color: #53DC7F;
	width: 33.33%;
	float: left;
	height: 4px;
}

.greenBorder {
	width: 33.33%;
	float: left;
	height: 4px;
}

.blueBorder {
	width: 33.33%;
	float: left;
	height: 4px;
}

.search-container {
	margin-top: 5px;
}

#nav_search_btn {
	position: absolute;
	margin-top: 5px;
	margin-left: 2px;
}


/* auction show*/


#auction-container {
	
	width: 100%;
	height: 400px;
}

#auction-info {
	padding-left: 20px;
}

#show-map img {
	width: 1000px;
}


