/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */
 *= require foundation_and_overrides;



 .redBorder {
	background-color: #53DC7F;
	width: 33.33%;
	float: left;
	height: 4px;
}

.greenBorder {
	width: 33.33%;
	float: left;
	height: 4px;
}

.blueBorder {
	width: 33.33%;
	float: left;
	height: 4px;
}

/* Search Bar*/

.search-container {
	margin-top: 5px;

}

#nav_item{
	position: absolute;
	top: 15px;
	width: 100px;
}

#nav_near {
	position: absolute;
	left: 359px;
	top: 15px;
	width: 100px;

}

#nav_radius {	
position: absolute;
	left: 460px;
	top: 15px;
	width: 90px;
}

#nav_search_btn {
position: absolute;
left:552px;
top: 15px;
}
/**/

/*auction index*/

#map-container {
	background-color: #004E8C;
	height: 700px;
	position: absolute;
}

.auctions-container {
	margin-top: 0px;


}

#auctions-holder {
	padding-bottom: 10px;
	position: relative;
	border-bottom: 1px solid #CCCCCC;
}

#auctions-holder h3 {
	margin-bottom: -2px;
	
}

#auctions-holder p  {
	margin-bottom: -5px;
	
}

.full-page {
	position: fixed;
	margin-left: 41%;
	width: 100%;
}

/* auction show*/


#auction-container {
	
	width: 100%;
	height: 400px;
}

#auction-info {
	position: relative;
	
	padding-top: 0px;
	padding-left: 20px;
}

#map-canvas {
	position: absolute;
	top: 0px;
	width: 100%;
	height: 1000px;
}

#radius {
	width: 130px;
}

.small {
	float: right;
}

/*Auction New*/
#header-container {
	width: 100%;
	background-color: #EFEFEF;
	padding-top: 100px;
	padding-bottom: 20px;
	height: 400px;
}

#title-container {
 padding-bottom: 50px;
}
/* User Profile*/

.user-show-container {
	padding-top: 65px;
	padding-left: 20px;
}

/*Site Wide*/

.user-new-container {
	padding-top: 60px;
	
}

/*Clearing*/

.clearing-thumbs { 
	list-style: none; 
}

.clearing-thumbs li { 
	float: left; 
	margin-right: 10px; 
	padding-bottom: 10px;

}
